* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: rgb(10, 133, 126);
    height: 100vh;
    width: 100%;
    background: url('/assests/bgImage.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.form-section {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 35%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 4px 4px #dfdede;
}

.form-section .heading{
    width: 100%;
    text-align: center;
    padding: 5px;
    position: relative;
}

.heading h1{
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

.heading span{
    font-size: 16px;
    margin-bottom: 1rem;
}

.form-section form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.form-section form input{
    width: 65%;
    height: 25px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.form-section form input[type = 'text']{
    font-size: 16px;
}

.form-section form input[type = 'password']{
    font-size: 16px;
    letter-spacing: 1px;
}

